/* >=1600px */
@media (min-width:1600px) {}

/* <=1600px */
@media (max-width:1600px) {}

/* <=1512px */
@media (max-width:1512px) {
    .app-topnav {
        .container {
            padding: 0 40px !important;
        }
    }
}

/* <=1280px */
@media (max-width:1280px) {
    .app-topnav {
        .container {
            padding: 0 35px !important;
        }
    }
}

/* <=1045px */
@media (max-width:1045px) {
    .app-topnav {
        .container {
            padding: 0 20px !important;

            .nav-bar {
                display: none !important;
            }
        }
    }
}

/* <=598px */
@media (max-width:598px) {
    .app-topnav {
        .container {
            padding: 0 20px !important;

            .search {
                margin-right: 10px !important;
                width: 40px !important;
                height: 40px !important;
                background: transparent !important;
                box-shadow: none !important;
                padding-left: 0 !important;

                input {
                    display: none
                }
            }
        }
    }
}

/* <=480px */
@media (max-width:480px) {
    .home {
        .ivEMfk9ulAFRBn22-text {

            .ivEMfk9ulAFRBn22-text-title {
                width: 200px;
                font-weight: 700 !important;
            }

            .ivEMfk9ulAFRBn22-text-subtitle {
                font-size: 16px !important;
            }
        }
    }
}